.super-mario {
    width: 200px;
    left : 110px;
    position: absolute
}
  
  .goomba {
    width: 150px;
    position : absolute;
    top: 400px;
    left: 110px;

}
  
  .baloon {
    position : absolute;
    right: 600px;
    z-index:1

}
  
  .speach {
    font-size: 25px;
    position : absolute;
    right : 635px;
    top : 120px;
    z-index:2
}
  
  .bowser {
    position : absolute;
    width:300px;
    top: 300px;
    right: 280px;
}